/* mycss.css */
.chambres-disponibles {
    /*background-color: #3498db; /* Couleur soit degradee et fade */
    
    background: linear-gradient(to right, #abc5d6, #2298e7);
   /* background-color: #3498db; /* Bleu */
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease-in-out; 
  }
  .chambres-disponibles:hover {
    transform: scale(1.1); /* Applique un effet de zoom lors du survol */
}
  .arrivees-attendues {
    /*background-color: #2ecc71; /* Couleur soit degradee et fade */
    background: linear-gradient(to right, #7db996, #0eb956);
   /* background-color: #2ecc71; /* Vert */
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease-in-out; 
  }
  
  .departs-attendus {
    /*background-color: #f1c40f; /* Couleur soit degradee et fade */
    background-image: linear-gradient(to right, #e6d07b, #f39c12);
    background-color: #f39c12; /*Jaune */
    border-radius: 10px;
    /*couleur du texte*/
    color: white;
    transition: transform 0.3s ease-in-out; 
    
  }
  
  .attribuees-aujourd-hui {
    /* Couleur soit degradee en fonction du temps */
    background: linear-gradient(to right, #a072b3, #a31cdd);

  /* background-color: #9b59b6; /* Violet */
   border-radius: 10px;
   color: white;
   transition: transform 0.3s ease-in-out; 
   
  }
  
  .recette-du-jour {
    /*couleur degrade*/
    background: linear-gradient(to right, #dd6558, #df480c);
   /* background-color: #e74c3c; /* Rouge */
    border-radius: 10px;
    color: white;
    transition: transform 0.3s ease-in-out; 
   
  }
  

  .arrivees-attendues:hover,
.departs-attendus:hover,
.attribuees-aujourd-hui:hover,
.recette-du-jour:hover {
    transform: scale(1.1);
}