.backgroundImgChambre {
    background-image: url('assets/img/background/bgRoom.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}